@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: no-preference) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  @apply text-blue-600 no-underline visited:text-purple-600 hover:text-blue-800 hover:underline;
}

.bordered-table {
  @apply border-1 border-collapse mx-3
}

.bordered-table th {
  @apply p-1 border-1 border-gray-300
}

.bordered-table td {
  @apply p-1 border-1 border-gray-300
}
